@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.cover {
    background-image: url("./img/banner.png");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 100%), 
                url('img/banner.png');
    background-repeat: none;
    background-size: cover;
    height: 100vh;
}

#logo {
    margin: 20px;
    width: 130px;
    position: fixed;
}

.nav {
    display: flex;
    align-items: top;
    justify-content: space-between;
    color: white;
}

.links {
    padding-top: 70px;
    display: flex;
    gap: 120px;
    padding-right: 100px;
    font-weight: 500;
    font-size: larger;
}

.links > a {
    text-decoration: none;
    color: white;
}

.navcenter-area{
    padding-top: 120px;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.infocard{
    background-color: white;
    width: 30%;
    height: 50em;
    margin-right: 150px;
}